/venv
prompt
/api_examples
servers_apps_balanced.json
servers_apps_less_mutualized.json
/cli_modules/__pycache__
/cli_modules/clustering_menu/__pycache__
/cli_modules/traffic_menu/__pycache__
/illumio/__pycache__
/illumio/converters/__pycache__
/illumio/database/__pycache__
/illumio/database/entity_managers/__pycache__
/illumio/formatters/__pycache__
/illumio/models/__pycache__
/illumio/parsers/__pycache__
/illumio/traffic_analysis/__pycache__
/illumio/utils/__pycache__
/outputs
